.profile {
    margin-left: 3.5rem;
}

.avatar img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin-top: 2rem;
}

.name {
    font-size: 26px;
    font-weight: 600;
    line-height: 33.8px;
}

.login-container {
    margin-top: 0.75rem;
}

.login {
    font-size: 18px;
    color: #0064EB;
    text-decoration: none;
}

.followers-container {
    margin-top: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
}

.followers {
    display: flex;
}

.followers-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.following {
    display: flex;
}

.following-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    margin-right: 0.2rem;
}

@media (max-width: 320px) {
    .avatar-res img {
        width: 100px !important;
        height: 100px !important;
    }

    .profile-responsive {
        margin-left: 1.5625rem !important;
    }

    .followers-responsive {
        width: 240px !important;
    }

    div.followers-text-responsive {
        font-size: 13px !important;
    }

    .avatar-name {
        display: flex !important;
    }

    .name-login-resp {
        margin-top: 2rem !important;
        margin-left: 0.5rem !important;
    }

    div.name-responsive {
        font-size: 24px !important;
    }

    div.login-container-responsive a {
        font-size: 16px !important;
    }
}

@media (max-width: 425px) {
    .avatar-res img {
        width: 100px !important;
        height: 100px !important;
    }

    .profile-responsive {
        margin-left: 1.5625rem !important;
    }

    .followers-responsive {
        width: 240px !important;
    }

    div.followers-text-responsive {
        font-size: 13px !important;
    }

    .avatar-name {
        display: flex !important;
    }

    .name-login-resp {
        margin-top: 2rem !important;
        margin-left: 0.5rem !important;
    }

    div.name-responsive {
        font-size: 24px !important;
    }

    div.login-container-responsive a {
        font-size: 16px !important;
    }
}

@media (max-width: 768px) {
    .avatar-res img {
        width: 200px;
        height: 200px;
    }

    .profile-responsive {
        margin-left: 1.5625rem;
    }

    .followers-responsive {
        width: 240px;
        margin-left: 0.4375rem;
    }

    div.followers-text-responsive {
        font-size: 13px;
    }


    .name-login-resp {
        margin-top: 2rem;
        margin-left: 0.5rem;
    }

}